body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fee6cd;
    padding-top: 10rem;
  }
.card {
  height: 1rem;
  width: 20rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: #fee6cd;
  padding: 1rem;
  display: flex;
  align-items: center;
}
input {
  background: transparent;
  border: none;
  display: flex;
  font-size: 1rem;
  padding-top: 4px;
}
input:focus {
  outline: none;
}
.search-emoji {
  margin-right: 5px;
}
.emoji-card {

  width: 20rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  display: block;
  align-items: center;
  margin-top: 1rem;
}
.emoji-card-expand {

  width: 20rem;
  border: 1px solid black;
  border-radius: 1rem;
  background-color: white;
  padding: 1rem;
  display: block;
  align-items: center;
  margin-top: 1rem;
  height: 20rem;
}
.description {
  margin-left: 4px;
}
.gg-chevron-double-down {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 22px
}
.gg-chevron-double-down::after,
.gg-chevron-double-down::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 7px;
  top: 3px
}
.gg-chevron-double-down::after {
  top: 8px
}
.expand {
  line-height: 0.5rem;
  margin: 10px;
}
.info {
  display: none;
}